body {
 margin: 60px auto;
 width:70%
 }
 
 ui {
  font-family:'Times-New-Roman';
  padding: 0px;
  line-style:none;
  color:#999;
  }
  
 h1 {
  font-family:'Times-New-Roman'
   color:#008000;
  }


